* {
    background-color: rgb(92, 177, 189);
}

h1{
    color: rgb(128, 21, 21);
}

#head {
    color:rgb(128, 32, 32);
    display: flex;
    justify-content: center;
    
}
h2{
    color: rgb(5, 5, 4);

}
h3{
    color: rgb(6, 8, 3);
}
footer{
    text-align: center;
}
